.aboutme__container {
  height: 100%;
  margin-right: 15px;
  padding: var(--cardPadding);
  border-radius: var(--cardBorderRadius);
  background: var(--black);
}

.main__name {
  position: absolute;
  top: 7%;
  left: 32%;
  color: var(--white);
  transform: translateX(-50%);
}

.main__title {
  color: var(--black);
}

.aboutme__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.aboutme__mtitle {
  margin-bottom: 50px;
  color: var(--white);
}

.aboutme__owninform {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.aboutme__code {
  margin: 0;
  font-family: "Consolos";
  font-size: 20px;
  line-height: 1.5;
}

.code__code {
  color: var(--white);
}

.code__constcolor {
  color: #4088af;
}

.code__constname {
  color: #40a9ca;
}

.code__codehooks {
  color: #eac611;
}

.code__objectname {
  color: #8cc3d4;
}

.code__objectvaluenumber {
  color: #82af93;
}

.code__objectvaluestring {
  color: #c16a3f;
}

.aboutme__myimage {
  display: flex;
  align-items: center;
}

@media (max-width:1055px) {
  .main__name {
    top: 3%;
    left: 50%;
    color: var(--black);
  }

  .main__title {
    margin: 0;
  }
}
