.coding {
  width: 100%;
}

.coding__container {
  display: flex;
  justify-content: center;
}

.coding__box {
  width: 50%;
  padding: var(--cardPadding);
  border-radius: var(--cardBorderRadius);
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 1) 70%, rgba(255, 255, 255, 1) 100%);
}

.coding__title {
  color: var(--white);
}

.coding__wordcolor {
  color: black;
}

.coding__text {
  margin: 0;
}

.coding__commentcolor {
  color: #3a6f49;
}

.coding__whilecolor {
  color: #9973ae;
}

.coding__hookscolor {
  color: #e0ac14;
}

.coding__selectcolor {
  color: #80c3e7;
}

.coding__keycolor {
  color: #d2bd73;
}

@media (max-width: 1200px) {
  .coding__box {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .coding__example {
    font-size: 14px;
  }
}