.header {
  box-shadow: rgba(0, 0, 0, .45) 0 25px 20px -20px;
}

.nav__list {
  flex-wrap: wrap;
}

.header__container {
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
}

.header__cvicon {
  width: 100px;
  height: 90px;
  background-image: url(../assets/svg/cvIcon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__link,
.header__link {
  display: inline-block;
  padding: 0 20px;
  font-size: 20px;
  line-height: 50px;
  transition: background-color var(--transitionTime) ease-in-out, color var(--transitionTime) ease-in-out, opacity var(--transitionTime) ease-in-out;
}

.nav__link:hover,
.header__link:hover {
  color: var(--white);
  background-color: var(--mblack);
}

.nav__link:active,
.header__link:active {
  opacity: .5;
}

.header__wpsvg {
  position: absolute;
  top: 2%;
  width: 50px;
  height: 50px;
}

.header__link::after {
  content: '';
  background-image: url(../assets/svg/whatsAppIcon.svg);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

@media (max-width: 1055px) {
  .nav__list {
    display: none;
  }
}
