:root {
  /* Colors */
  --black: #000000;
  --mblack: #333333;
  --white: #ffffff;
  --gray: #666666;

/* Size */
  --transitionTime: .3s;
  --cardPadding: 30px;
  --cardBorderRadius: 30px;
  --cardBorder: 8px solid var(--gray);
}
