@import '../../../styles/common';

.sectionTitle {
  margin-bottom: 3.2rem;
  font-size: 6rem;
  font-weight: 700;
  line-height: 7.3rem;
  color: $primary-accent;

  @media(max-width: $mobiles-scr) {
    margin-bottom: 2.5rem;
    font-size: 4rem;
    line-height: 4.8rem;
  }
}