@import '../../styles/common';

.list {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @media (max-width: $mobiles-scr) {
    gap: 0;
    width: 100%;
    padding: 0.4rem;
    flex-direction: row;
    border: 1px solid $links-overlay;
    border-radius: 2rem;
  }

  &__item {
    display: flex;
    position: relative;
    color: $primary-gray;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.6rem;
    cursor: pointer;
    transition:
      color $transition-set,
      background-color $transition-set;

    @media (max-width: $mobiles-scr) {
      flex-grow: 1;
      justify-content: center;
      padding: 1.2rem 0;
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 400;
      border-radius: 1.6rem;
    }

    &:hover {
      color: $primary-accent;
    }

    &_active {
      color: $primary-accent;
    }

    &:hover,
    &_active {
      @media (max-width: $mobiles-scr) {
        background-color: $primary-accent;
        color: $cta-text;
      }
    }

    &_line {
      position: absolute;
      display: flex;
      margin-right: 1.2rem;
      width: 2.4rem;
      height: 0.1rem;
      top: 50%;
      left: -3.5rem;
      transform: translateY(-50%);
      align-items: center;
      border: 1px solid $primary-accent;

      @media (max-width: $mobiles-scr) {
        display: none;
      }
    }
  }
}
