@import '../../styles/common';

.list {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  &__item {
    display: flex;
    position: relative;
    color: $primary-gray;
    cursor: pointer;

    &_active {
      color: $primary-accent;
    }

    &_line {
      position: absolute;
      display: flex;
      margin-right: 1.2rem;
      width: 2.4rem;
      height: 0.1rem;
      top: 50%;
      left: -3.5rem;
      transform: translateY(-50%);
      align-items: center;
      border: 1px solid $primary-accent;
    }
  }
}