@import '../../../styles/common';

.providerInfo {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
  flex-direction: column;

  @media (max-width: $mobiles-scr) {
    align-items: center;
  }

  &__img {
    display: block;
    margin-bottom: 1.5rem;
    width: 28rem;
    height: 28rem;
    border-radius: 2rem;
  }

  &__title {
    font-size: 2.8rem;
    line-height: 3.4rem;
    white-space: nowrap;
  }

  &__role,
  &__age {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  &__date {
    position: relative;
    padding-right: 0.5rem;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 1.2rem;
      width: 0.1rem;
      background-color: $primary-gray;
    }
  }
}
