.providerInfo {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
  flex-direction: column;

  &__img {
    display: block;
    margin-bottom: 1.5rem;
    width: 28rem;
    height: 28rem;
  }

  &__title {
    font-size: 2.8rem;
    text-wrap: nowrap;
  }

  &__role {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}