@import '../../styles/common';

.main {
  padding: 10rem 18rem;
  height: 100%;
  width: 100%;

  @media(max-width: $desctops-scr) {
    padding: 10rem 6rem;
  }

  @media(max-width: $mobiles-scr) {
    padding: 0;
  }
}