@import './';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  @include font(regular, p1, $primary-text);
}

// @media all and (max-width: 480px) {

//   body,
//   input,
//   select,
//   button,
//   a {
//     @include font(regular, p1-mob, $primary-text);
//   }
// }

#root {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  background-color: $main-dark;
}

main {
  flex-grow: 1;
  padding: 0;
}

:active,
:hover,
:focus,
:focus-visible {
  outline: none;
  outline-offset: 0;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 600;
  line-height: 1.1;
}

p {
  margin: 0;
}

a {
  user-select: none;
}

img {
  max-width: 100%;
  user-select: none;
}

.container {
  max-width: 1792px;
  padding: 4rem;
  margin: 0 auto;

  // @media all and (max-width: 480px) {
  //   padding: 0 1rem;
  // }
}

.visually-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.stop-scroll {
  overflow: hidden;
}