@import '../../../styles/common';

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__item {
    display: flex;
    position: relative;
    padding: 2.8rem 3.2rem;
    justify-content: space-between;
    border: 1px solid $links-overlay;
    border-radius: 10rem;
    transition: color $transition-set, background-color $transition-set;

    &:hover {
      background-color: $primary-accent;
      color: $cta-text;
    }

    &:hover .list__infoContainer_hover {
      opacity: 1;
      color: $primary-text;
    }
  }

  &__infoContainer {

    &_hover {
      position: absolute;
      width: 26.7rem;
      height: 19rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      border-radius: 2rem;
      transition: opacity $transition-set, color $transition-set;
    }

    &_course {
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.4rem;
    }
  }

  &__svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}